<div ng-controller="QuizController as vm">

    <!--start page-->
    <div class="div6" ng-show="vm.showStartPage">
       <div>WELCOME TO QUIZ CENTER</div>
       <div>
           <table>
               <tr>
                   <td><button class="btn btn-primary btn1" ng-click="vm.MakeQuizClick()">Make a Quiz</button></td>
                   <td><button class="btn btn-primary btn1" ng-click="vm.TakeQuizClick()">Take a Quiz</button></td>
               </tr>
           </table>
       </div>
    </div>

    
    <!--Make a Quiz Section-->
    <div>
        
        <!--page loading view-->
        <div class="div6" ng-show="vm.showPageIsLoading">
            Page is loading...
        </div>

        <!--make mode - quiz list-->
        <div class="div1" ng-show="vm.showMakeQuizList">

            <label class="label3">Quizes</label>

            <table class="table">
                <tr ng-repeat="quiz in vm.quizList">
                    <td><div class="div3">{{quiz.name}}</div></td>
                    <td><button class="btn btn-primary btn1" ng-click="vm.UpdateQuiz(quiz)">update</button></td>
                    <td><button class="btn btn-primary btn1" ng-click="vm.DeleteQuiz(quiz.id)">delete</button></td>
                </tr>
            </table>


            <button class="btn btn-success btn1" ng-click="vm.goToCreateQuizPage()">Create Quiz</button>
            <button class="btn btn-success btn1" ng-click="vm.goToMakeQuizMainPage()">Done</button>
        </div>

        <!--create quiz-->
        <div class="div7" ng-show="vm.showCreateQuiz">

            <table>
                <tr>
                    <td><label class="label3">Quiz Name:</label></td>
                    <td><textarea class="textArea1" ng-model="vm.quiz.name"></textarea></td>

                </tr>

                <tr>
                    <td><button class="btn btn-primary btn1" ng-click="vm.createQuiz()">Save</button></td>
                   
                </tr>
            </table>

        </div> <!--end of the create quiz-->
        
        <!--question list-->
        <div class="div4" ng-show="vm.showQuestionList">

            <div class="div2">Quiz:<label class="label1">{{vm.quiz.name}}</label></div>


            <table class="table">
                <tr><td><label class="label2">Questions:</label></td></tr>
                <tr ng-repeat="question in vm.questions">
                    <td><div class="div3">{{question.text}}</div></td>
                    <td><button class="btn btn-primary btn1" ng-click="vm.UpdateQuestion(question)">update</button></td>

                </tr>
            </table>

            <button class="btn btn-success btn1" ng-click="vm.goToAddNewQuestion()">Add new Question</button>
            <button class="btn btn-success btn1" ng-click="vm.goToMakeQuizMainPage()">Done</button>

        </div> <!--end of the question list-->
        
        <!--add new question-->
        <div class="div7" ng-show="vm.showAddNewQuestion">

            <table>
                <tr>
                    <td><label class="label3">Question:</label></td>
                    <td><textarea class="textArea1" ng-model="vm.question.text"></textarea></td>

                </tr>

                <tr>

                    <td><button class="btn btn-primary btn1" ng-click="vm.AddNewQuestion()">Save</button></td>
                </tr>
            </table>

        </div> <!--end of the add new question-->
        
        <!--answer list-->
        <div class="div5" ng-show="vm.showAnswerList">

            <div class="div2">Quiz:<label class="label1">{{vm.quiz.name}}</label></div>
            <div class="div2">Question:<label class="label1">{{vm.question.text}}</label></div>

            <table class="table">
                <tr><td><label class="label2">Answers:</label></td></tr>
                <tr ng-repeat="answer in vm.answers">
                    <td><div class="div3">{{answer.text}}</div></td>


                </tr>
            </table>

            <button class="btn btn-success btn1" ng-click="vm.goToAddNewAnswer()">Add new Answer</button>
            <button class="btn btn-success btn1" ng-click="vm.goToQuestionList()">Done</button>

        </div> <!--end of the question list-->
        
        <!--add new answer-->
        <div class="div7" ng-show="vm.showAddNewAnswer">

            <table class="table">
                <tr>
                    <td><label class="label3">Answer:</label></td>
                    <td><textarea class="textArea1" ng-model="vm.answer.text"></textarea></td>

                    <td><label class="label4" for="isCorrectAnswer">Is Correct Answer</label><input type="checkbox" id="isCorrectAnswer" ng-model="vm.answer.isCorrectAnswer" /></td>
                </tr>

                <tr>
                    <td><button class="btn btn-primary btn1" ng-click="vm.AddNewAnswer()">Save</button></td>
                </tr>
            </table>

        </div> <!--end of the add new question--> 

    </div> <!--end of the Make a Quiz Section-->


    <!--Take a Quiz Section-->
    <div>

        <!--take mode -quiz list-->
        <div class="div1" ng-show="vm.showTakeQuizList">

            <label class="label3">Quizes</label>

            <table class="table">
                <tr ng-repeat="quiz in vm.quizList">
                    <td><div class="div3">{{quiz.name}}</div></td>
                    <td><button class="btn btn-primary btn1" ng-click="vm.StartQuiz(quiz)">Start this quiz </button></td>
                </tr>
            </table>
        </div>


        <!--take mode - quiz main page-->
        <div class="div7" ng-show="vm.showQuizMainPage">
            <br />
            <div class="div8">
                <br />
                {{vm.question.text}}
            </div>

            <div class="div9">

                <table>
                    <tr>
                        <td><input type="button" ng-class="{0:'btn btn-danger btn2', 1:'btn btn-warning btn2'}[vm.answer1BtnStyle]" value={{vm.answer1}} ng-model="vm.answer1" ng-click="vm.answer1Clicked()" /></td>
                        <td><input type="button" ng-class="{0:'btn btn-danger btn2', 1:'btn btn-warning btn2'}[vm.answer2BtnStyle]" value={{vm.answer2}} ng-model="vm.answer2" ng-click="vm.answer2Clicked()" /></td>
                        <td><input type="button" ng-class="{0:'btn btn-danger btn2', 1:'btn btn-warning btn2'}[vm.answer3BtnStyle]" value={{vm.answer3}} ng-model="vm.answer3" ng-click="vm.answer3Clicked()" /></td>
                        <td><input type="button" ng-class="{0:'btn btn-danger btn2', 1:'btn btn-warning btn2'}[vm.answer4BtnStyle]" value={{vm.answer4}} ng-model="vm.answer4" ng-click="vm.answer4Clicked()" /></td>

                          
                    </tr>
                   
                </table>
                <div>
                    <input type="button" class="btn btn-danger btn3" value={{vm.nextButtonText}} ng-click="vm.nextBtnClick()" />
                </div>
            </div>



        </div> <!--end of the quiz main page-->


        <!--take mode -quiz result section-->

        <div class="div7" ng-show="vm.showQuizResult" >
            <br />
            <div class="div10">
                <br />
                Quiz Result : {{vm.quizResult}}% out of 100%

            </div>
        </div>

    </div> <!--end of the Take a Quiz Section-->


    
  
</div> <!--end of the main div tag-->
